{{extend 'ui_gestor.html'}} {{block pesquisa}}

<!--<div class="rounded" style="padding:20px 20px 2px 20px;">
    <div class="md-form" style="text-align:center;">
        <input type="text" id="form2" class="form-control" style="text-align:center;">
        <label for="form2" style="text-align:center; width:100%;">Digite sua Pesquisa</label>
    </div>
</div>-->

<form class="form-inline waves-effect waves-light">
    <input class="form-control mr-sm-2" placeholder="Digite Sua Pesquisa" aria-label="Search" type="text" style="width:100%; text-align:center;">
</form>
{{end}}


<style>
    .col {
        margin-bottom: 10px;
    }

    .divisor {
        width: 100%;
        height: 2px;
        /*background-color: #c2c2c2;*/
        margin-bottom: 30px;
        margin-top: 10px;
    }
</style>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">

        <div class="col col-lg-4">
            <!--Card-->
            <div class="card testimonial-card">

                <!--Bacground color-->
                <div class="card-up indigo lighten-1">
                </div>
                <div class="btn-group dropdown">
                    <!--Button-->
                    <a class="btn-floating btn-action dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </a>

                    <div class="dropdown-menu dropdown-primary">
                        <a class="dropdown-item" href="#">Editar</a>
                        <a class="dropdown-item" href="#">Excluir (Lixeira)</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Excluir</a>
                    </div>
                </div>
                <!--Avatar-->
                <div class="avatar">
                    <img src="{{=URL('static','images/phone-icon.png')}}" class="rounded-circle">
                </div>




                <div class="card-body">
                    <!--Name-->
                    <h4 class="card-title">Digital Azul</h4>
                    <hr>
                    <!--Quotation-->
                    <p>
                        <i class="fa fa-quote-left"></i> Av. Conde da Boa Vista</p>
                    <p>(81) 3072-2486</p>
                    <p>
                        <a href="http://www.digitalazul.com.br" target="_blank">www.digitalazul.com.br</a>
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>

        <div class="col">
            <div class="row">


                <div class="col col-lg-6">
                    <!--Card-->
                    <div class="card testimonial-card">
                        <div class="btn-group dropdown">
                            <!--Button-->
                            <a class="btn-floating btn-action dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </a>

                            <div class="dropdown-menu dropdown-primary">
                                <a class="dropdown-item" href="#">Editar</a>
                                <a class="dropdown-item" href="#">Excluir (Lixeira)</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Excluir</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <!--Name-->
                            <h4 class="card-title">Dayvson Nascimento</h4>
                            <hr>
                            <!--Quotation-->
                            <p>
                                TI
                            </p>
                            <p>
                                dayvson@digitalazul.com.br
                            </p>
                            <p>
                                (81) 9 8618-6082
                            </p>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>


                <div class="col col-lg-6">
                    <!--Card-->
                    <div class="card testimonial-card">
                        <div class="btn-group dropdown">
                            <!--Button-->
                            <a class="btn-floating btn-action dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </a>

                            <div class="dropdown-menu dropdown-primary">
                                <a class="dropdown-item" href="#">Editar</a>
                                <a class="dropdown-item" href="#">Excluir (Lixeira)</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Excluir</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <!--Name-->
                            <h4 class="card-title">Dayvson Nascimento</h4>
                            <hr>
                            <!--Quotation-->
                            <p>
                                TI
                            </p>
                            <p>
                                dayvson@digitalazul.com.br
                            </p>
                            <p>
                                (81) 9 8618-6082
                            </p>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>

                <div class="col col-lg-6">
                    <!--Card-->
                    <div class="card testimonial-card">
                        <div class="btn-group dropdown">
                            <!--Button-->
                            <a class="btn-floating btn-action dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </a>

                            <div class="dropdown-menu dropdown-primary">
                                <a class="dropdown-item" href="#">Editar</a>
                                <a class="dropdown-item" href="#">Excluir (Lixeira)</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Excluir</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <!--Name-->
                            <h4 class="card-title">Dayvson Nascimento</h4>
                            <hr>
                            <!--Quotation-->
                            <p>
                                TI
                            </p>
                            <p>
                                dayvson@digitalazul.com.br
                            </p>
                            <p>
                                (81) 9 8618-6082
                            </p>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
            </div>
        </div>
    </div>

    <div class="divisor"></div>

    <div class="row">

        <div class="col col-lg-4">
            <!--Card-->
            <div class="card testimonial-card">

                <!--Bacground color-->
                <div class="card-up indigo lighten-1">
                </div>

                <!--Avatar-->
                <div class="avatar">
                    <img src="{{=URL('static','images/phone-icon.png')}}" class="rounded-circle">
                </div>

                <div class="card-body">
                    <!--Name-->
                    <h4 class="card-title">Digital Azul</h4>
                    <hr>
                    <!--Quotation-->
                    <p>
                        <i class="fa fa-quote-left"></i> Av. Conde da Boa Vista</p>
                    <p>(81) 3072-2486</p>
                    <p>
                        <a href="http://www.digitalazul.com.br" target="_blank">www.digitalazul.com.br</a>
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>

        <div class="col">
            <div class="row">


                <div class="col col-lg-6">
                    <!--Card-->
                    <div class="card testimonial-card">

                        <div class="card-body">
                            <!--Name-->
                            <h4 class="card-title">Dayvson Nascimento</h4>
                            <hr>
                            <!--Quotation-->
                            <p>TI</p>
                            <p>dayvson@digitalazul.com.br</p>
                            <p>(81) 9 8618-6082</p>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>


                <div class="col col-lg-6">
                    <!--Card-->
                    <div class="card testimonial-card">

                        <div class="card-body">
                            <!--Name-->
                            <h4 class="card-title">Dayvson Nascimento</h4>
                            <hr>
                            <!--Quotation-->
                            <p>TI</p>
                            <p>dayvson@digitalazul.com.br</p>
                            <p>(81) 9 8618-6082</p>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>

                <div class="col col-lg-6">
                    <!--Card-->
                    <div class="card testimonial-card">

                        <div class="card-body">
                            <!--Name-->
                            <h4 class="card-title">Dayvson Nascimento</h4>
                            <hr>
                            <!--Quotation-->
                            <p>TI</p>
                            <p>dayvson@digitalazul.com.br</p>
                            <p>(81) 9 8618-6082</p>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $('psqInput').keyup(function (e) {
        if (e.keyCode == 13) {
            $.ajax({
                url: "{{=URL(a='gestor', c='agenda', f='', args=[])}}"
            })
        }
    });
</script>